* {
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

body, html {
    margin: 0 auto;
    padding: 0 auto;
    background-image: url("./static/background.jpg");
    background-repeat: none;
    background-attachment: fixed;
    background-size: auto 100vh;
}

.title {
    font-family: 'Patua One', cursive;
    width: 100%;
    text-align: center;
    color: black;
    top: 0;
}

/* QUESTIONCARDS */

.questioncard {
    width: 90%;
    border-style: solid;
    border-color: black;
    margin: 5vh 5%;
    background-color: rgba(255, 255, 255, 0.95);
}

.cardwrapper {
    margin: 2vh 3%;
    text-align: center;
}

.cardheader {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.questionheader {
    font-family: 'Patua One', cursive;
    font-size: 1.5rem;
    justify-self: start;
    align-self: start;
    margin: 0 auto;
    margin-right: 50%;
}

.bookmarkicon {
    width: 35%;
    height: auto;
    justify-self: end;
}

.questiontext {
    text-align: justify;
}

.solution {
    height: 5vh;
    width: auto;
    font-size: 1rem;
}

.taglist {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
    margin-bottom: 0;
}

.tags {
    border: solid;
    border-color: black;
    padding: 2% 2%;
    margin-bottom: 2vh;
}

/* NAVIGATION */

.footer {
    text-align: center;
}

.navwrap {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 5%;
    padding-right: 5%;
}

.navlink {
    display: grid;
}

.navicon {
    width: 40%;
    height: auto;
    justify-self: center;
}

.navlink:focus {
    outline: none;
}

.shoutout {
    text-decoration: none;
    font-size: 0.8rem;
    color: darkgrey;
}

/* CREATE.HTML */

/* FORM */

.form {
    width: 90%;
    border-style: solid;
    border-color: black;
    margin: 5vh 5%;
    background-color: rgba(255, 255, 255, 0.95);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 10fr 3fr 10fr 3fr 10fr 3fr 3fr;
    padding: 2% 2%;
}

.formitem {
    margin-bottom: 1vh;
}

.button {
    font-size: 1rem;
}

/* PROFILE.HTML */

.me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2% 2%;
    height: 20vh;
    margin-top: 5vh;
}

.meitems {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meimg {
    border-radius: 50%;
    width: 40%;
    height: auto;
    background-color: rgba(204, 150, 34, 0.5);
}

.margin {
    width: 90%;
    border-style: solid;
    border-color: black;
    margin: 5vh 5%;
    background-color: rgba(255, 255, 255, 0.95);
}

.about {
    padding: 2% 2%;
    text-align: center;
}

.about>p {
    text-align: justify;
}

.profitags {
    text-align: center;
}

.profitaglist {
    list-style: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
    margin-bottom: 0;
}

.btn {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.logout {
    font-size: 1rem;
    height: 5vh;
}

@media (min-width: 1050px) {

    .title {
        margin-top: 15vh;
        margin-bottom: 10vh;
        font-size: 3rem;
    }

    .questioncard {
        width: 50%;
        margin-right: 25%;
        margin-left: 25%;
    }

    .cardheader {
        margin-bottom: 5vh;
    }

    .questionheader {
        padding-right: 20%;
        font-size: 1.8rem;
    }

    .bookmarkicon {
        width: 20%;
    }

    .questiontext {
        padding-right: 5%;
        padding-left: 5%;
        margin-bottom: 8vh;
        line-height: 1.5;
    }

    .solution {
        margin-bottom: 3vh;
    }

    .taglist {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
    }

    .answer {
        margin-bottom: 5vh;
    }

    .navwrap {
        width: 50%;
        margin: 8vh 25%;
    }

    .navicon {
        width: 30%;
    }

    .form {
        width: 50%;
        margin-right: 25%;
        margin-left: 25%;
    }
    .label {
        font-size: 1.2rem;
    }

    .button {
        font-size: 1.2rem;
        height: 5vh;
    }

    .margin {
        width: 50%;
        margin-right: 25%;
        margin-left: 25%;
    }

    .about>p {
        padding-right: 5%;
        padding-left: 5%;
    }
}

@media (orientation: landscape) {

    .title {
        margin-top: 15vh;
        margin-bottom: 10vh;
        font-size: 2rem;
    }

    .bookmarkicon {
        width: 17%;
    }

    .questionheader {
        padding-right: 20%;
    }

    .cardheader {
        margin-bottom: 8vh;
    }

    .questiontext {
        padding-right: 5%;
        padding-left: 5%;
        margin-bottom: 8vh;
        line-height: 1.5;
    }

    .solution {
        font-size: 1.2rem;
        height: 10vh;
        margin-bottom: 5vh;
    }

    .answer {
        margin-bottom: 8vh;
    }

    .answerheader {
        font-size: 1.4rem;
    }

    .navwrap {
        margin-top: 10vh;
    }

    .navicon {
        width: 30%;
    }

    .button {
        font-size: 1.2rem;
        height: 10vh;
    }

    .me {
        height: 30vh;
        margin-bottom: 5vh;
    }   

    .meimg {
        width: 23%;
    }
    
    .logout {
        font-size: 1.2rem;
        height: 10vh;
    }
}



