* {
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

body, html {
    margin: 0 auto;
    padding: 0 auto;
    background-image: url("./static/background3.jpg");
    background-repeat: none;
    background-attachment: fixed;
    background-size: auto 100vh;
}

.title {
    font-family: 'Patua One', cursive;
    width: 100%;
    text-align: center;
    position: sticky;
    color: black;
}

/* QUESTIONCARDS */

.questioncard {
    width: 90%;
    border-style: solid;
    border-color: black;
    margin: 5vh 5%;
    background-color: rgba(255, 255, 255, 0.95);
}

.cardwrapper {
    margin: 2vh 3%;
    text-align: center;
}

.cardheader {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.questionheader {
    font-family: 'Patua One', cursive;
    font-size: 1.5rem;
    justify-self: start;
    align-self: start;
    margin: 0 auto;
    margin-right: 50%;
}

.bookmarkicon {
    width: 35%;
    height: auto;
    justify-self: end;
}

.questiontext {
    text-align: justify;
}

.solution {
    height: 5vh;
    width: auto;
    font-size: 1rem;
}

.taglist {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
    margin-bottom: 0;
}

.tags {
    border: solid;
    border-color: black;
    padding: 2% 2%;
    margin-bottom: 2vh;
}

/* NAVIGATION */

.footer {
    position: sticky;
    text-align: center;
}

.navwrap {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 5%;
    padding-right: 5%;
}

.navlink {
    display: grid;
}

.navicon {
    width: 40%;
    height: auto;
    justify-self: center;
}

.navlink:focus {
    outline: none;
}

.shoutout {
    text-decoration: none;
    font-size: 0.8rem;
    color: darkgrey;
}

/* CREATE.HTML */

/* FORM */

.form {
    width: 90%;
    border-style: solid;
    border-color: black;
    margin: 5vh 5%;
    background-color: rgba(255, 255, 255, 0.95);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 10fr 3fr 10fr 3fr 10fr 3fr 3fr;
    padding: 2% 2%;
}

.formitem {
    margin-bottom: 1vh;
}

.button {
    font-size: 1rem;
}

/* PROFILE.HTML */

.me {
    display: flex;
    flex-wrap: wrap;
    padding: 2% 2%;
    height: 20vh;
    margin-top: 5vh;
}

.meitems {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin {
    width: 90%;
    border-style: solid;
    border-color: black;
    margin: 5vh 5%;
    background-color: rgba(255, 255, 255, 0.95);
}

.about {
    padding: 2% 2%;
    text-align: center;
}

.about>p {
    text-align: justify;
}

.profitags {
    text-align: center;
}

.profitaglist {
    list-style: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
    margin-bottom: 0;
}

.btn {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.logout {
    font-size: 1rem;
    height: 5vh;
}

@media (min-width: 1000)



