.createform {
    background-color: hsla(36, 100%, 99%, 0.9);
    border-radius: 8px;
    box-shadow: 0px 1px 2px hsla(34, 100%, 25%, 0.8);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 3fr 10fr) 6vh 6vh;
    padding: 2% 3%;
}

.createform__formitem {
    resize: none;
}

.createform__formitem--label {
    align-self: center;
    font-weight: bold;
}

.createform__formitem--button {
    border-radius: 5px;
    background-color: hsla(36, 100%, 95%, 1);
    box-shadow: 0px 1px 2px hsla(34, 100%, 25%, 0.8);
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (orientation: landscape) {

    .createform {
        grid-template-rows: repeat(3, 2fr 10fr) 12vh 12vh;
    }
}