.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: hsla(36, 100%, 95%, 1);
}

.footer__navwrap {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1%;
}

.footer__navlink {
    display: grid;
}

.footer__navlink:focus {
    outline: none;
}

.footer__navicon {
    width: 40%;
    height: auto;
    justify-self: center;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.footer__navicon:hover {
    opacity: 0.5;
}

@media (orientation: landscape) {

    .footer__navicon {
        width: 22%;
    }
}

@media (min-width: 690px) {
    
    .footer__navicon {
        width: 20%;
    }
}