.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: hsla(36, 100%, 95%, 1);
}

.footer__navwrap {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.footer__navlink {
    display: grid;
}

.footer__navicon {
    width: 40%;
    height: auto;
    justify-self: center;
}

.footer__navlink:focus {
    outline: none;
}

@media (orientation: landscape) {

    .footer__navicon {
        width: 22%;
    }

    .footer__navwrap {
        padding-top: 1%;
    }
}