.questioncard {
    width: 90%;
    box-shadow: 0px 5px 5px hsla(34, 100%, 25%, 0.8);
    margin: 5vh 5%;
    background-color: hsla(36, 100%, 99%, 0.9);
    border-radius: 8px;
}

.questioncard__cardwrapper {
    margin: 2vh 3%;
    text-align: center;
}

.questioncard__cardheader {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.questioncard__questionheader {
    font-family: 'Patua One', cursive;
    font-size: 1.5rem;
    justify-self: start;
    align-self: start;
    margin-right: 50%;
}

.questioncard__bookmarkicon {
    width: 35%;
    height: auto;
    justify-self: end;
    padding-top: 2vh;
}

.questioncard__questiontext {
    text-align: justify;
}

.questioncard__solution {
    height: 5vh;
    width: auto;
    font-size: 1rem;
    border-radius: 5px;
    background-color: hsla(36, 100%, 95%, 1);
    box-shadow: 0px 1px 2px hsla(34, 100%, 25%, 0.8);
}

.questioncard__taglist {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
    margin-bottom: 0;
}

.questioncard__tags {
    background-color: hsla(36, 100%, 95%, 1);
    box-shadow: 0px 1px 2px hsla(34, 100%, 25%, 0.8);
    padding: 2% 2%;
    margin-bottom: 2vh;
    border-radius: 5px;
}