.questioncard {
    box-shadow: 0px 3px 5px hsla(34, 100%, 25%, 0.8);
    background-color: hsla(36, 100%, 99%, 0.9);
    border-radius: 8px;
    padding: 2% 3%;
    margin-top: 2vh;
}

.questioncard__cardwrapper {
    text-align: center;
}

.questioncard__cardheader {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.questioncard__questionheader {
    justify-self: start;
    align-self: start;
}

.questioncard__bookmarkicon {
    width: 35%;
    height: auto;
    justify-self: end;
    align-self: center;
}

@keyframes wiggle {
    0%  { transform: rotate(-5deg); }
    15% { transform: rotate(5deg); }
    35% { transform: rotate(-5deg); }
    55% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
    95% { transform: rotate(5deg); }
}

.questioncard__bookmarkicon:hover {
    animation: wiggle 1s infinite;
}

.questioncard__questiontext {
    text-align: justify;
}

.questioncard__solution {
    border-radius: 5px;
    background-color: hsla(36, 100%, 95%, 1);
    box-shadow: 0px 1px 2px hsla(34, 100%, 25%, 0.8);
}

.questioncard__answer {
    text-align: justify;
}

.questioncard__taglist {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 2%;
}

.questioncard__tags {
    background-color: hsla(36, 100%, 95%, 1);
    box-shadow: 0px 1px 2px hsla(34, 100%, 25%, 0.8);
    border-radius: 5px;
    padding: 2% 2%;
    margin-top: 2vh;
}

@media (orientation: landscape) {

    .questioncard {
        margin-top: 5vh;
    }
    
    .questioncard__bookmarkicon {
        width: 25%;
    }
}

@media (min-width: 690px) {

    .questioncard__bookmarkicon {
        width: 21%;
    }

    .questioncard {
        padding: 3% 4%;
    }
}