* {
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
}

body, html {
    margin: 0 auto;
    padding: 0 auto;
    background-image: url("../static/background3.jpg");
    background-attachment: fixed;
    background-repeat: none;
    background-size: auto 100vh;
    position: relative;
    margin-bottom: 35%;
}

main {
    margin: 7vh 5%;
}

h1, h2, button {
    font-family: 'Patua One', cursive;
    text-align: center;
    color: black;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

button {
    font-size: 1rem; 
    padding: 3% 2%;
}

.shoutout {
    text-decoration: none;
    font-size: 0.8rem;
    color: darkgrey;
}

@media (orientation: landscape) {

    * { 
        font-size: 1.1rem;
    }

    h1 {
        margin-top: 10vh;
        margin-bottom: 8vh;
        font-size: 3rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .shoutout {
        font-size: 0.9rem;
    }

    body, html {
        margin-bottom: 18%;
    }
}