@import "base.css";
@import "components/questioncard.css";
@import "components/footer.css";
@import "components/create.css";
@import "components/profile.css";
@import "utilities.css";

@media (min-width: 1050px) {

    .gametitle__title, 
    .create__title, 
    .create__title, 
    .profile__title  {
        margin-top: 15vh;
        margin-bottom: 10vh;
        font-size: 4rem;
    }

    .questioncard {
        width: 50%;
        margin-right: 25%;
        margin-left: 25%;
    }

    .questioncard__cardheader {
        margin-bottom: 5vh;
    }

    .questioncard__questionheader {
        padding-right: 20%;
        font-size: 1.8rem;
    }

    .questioncard__bookmarkicon {
        width: 20%;
    }

    .questioncard__questiontext {
        padding-right: 5%;
        padding-left: 5%;
        margin-bottom: 8vh;
        line-height: 1.5;
    }

    .questioncard__solution {
        height: 5vh;
        margin-bottom: 3vh;
    }

    .questioncard__taglist {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
    }

    .questioncard__answer {
        margin-bottom: 5vh;
    }

    .footer__navwrap {
        width: 50%;
        margin: 8vh 25%;
    }

    .footer__navicon {
        width: 30%;
    }

    .createform {
        width: 50%;
        margin-right: 25%;
        margin-left: 25%;
    }

    .createform__formitem--label {
        font-size: 1.2rem;
    }

    .createform__formitem--button {
        font-size: 1.2rem;
    }

    .margin {
        width: 50%;
        margin-right: 25%;
        margin-left: 25%;
    }

    .me {
        height: 50vh;
    }

    .me__meitems--img {
        height: 90%;
        width: auto;
    }

    .about__text {
        padding-right: 5%;
        padding-left: 5%;
    }
}

@media (orientation: landscape) {


    .me {
        height: 30vh;
        margin-bottom: 5vh;
    }   

    .me__meitems--img {
        width: 23%;
    }

    .profiletags__tag {
        padding: 1% 1%;
    }
    
    .button__logout {
        font-size: 1.2rem;
        height: 10vh;
    }
}



